body {
  margin: 0;
  background: black;
}

.score {
  position: fixed;
  margin-left: 1em;
  margin-top: 0.5em;   
  font-size: small;
  color: white;
  user-select: none;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}